<!-- Public search section -->
<div id="search_box" class="container search_box">
    <div class="content">
        <form id="search_form" action="/video-cms/index.php?" method="get" target="_self">
            <input type="hidden" name="g" value="Video" />
            <input type="hidden" name="m" value="Index" />
            <input type="hidden" name="a" value="search" />
            <div class="search_input">
                <div class="input"><input name="keyword" class="" /></div>
                <button id="search_cancel" class="btn" >取消</button>
            </div>
            <div class="clear"></div>
            <div class="title">常用搜索</div>
            <div class="search_word">
                <ul>
                    <li><a href="#">301医院</a></li>
                    <li><a href="#">肿瘤</a></li>
                    <li><a href="#">张主任</a></li>
                    <li><a href="#">空军总医院</a></li>
                    <li><a href="#">张主任</a></li>
                    <li><a href="#">空军总医院</a></li>
                    <li><a href="#">肿瘤</a></li>
                    <li><a href="#">张主任</a></li>
                    <li><a href="#">空军总医院</a></li>
                    <li><a href="#">张主任</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>