<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="__PUBLIC__/js/flexible/flexible.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{$site_seo_title} {$site_name}</title>
    <meta name="keywords" content="{$site_seo_keywords}" />
    <meta name="description" content="{$site_seo_description}">
    <include file="Public:head" />
    <link href="__PUBLIC__/assets/css/video.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/1.5.7/skins/default/index.css" />
    <script type="text/javascript" src="//g.alicdn.com/de/prismplayer/1.5.7/prism-min.js"></script>
</head>

<body>
    <div class="container">
        <nav>
            <button class="left" onclick="history.back()"></button>
            <div class="title">答题</div>
            <button class="right"></button>
        </nav>
    </div>
    <div class="container">
        <div class="content">
            <div class="question-item">
                <h2>lksdjfalksdfjlkasd?</h2>
                <ul class="list-group">
                    <li class="list-group-item"><div class="option">skdfjklsdklfj</div></li>
                    <li class="list-group-item">lkdsfjlksd</li>
                    <li class="list-group-item">lkdsfjlksd</li>
                </ul>
            </div>
        </div>
    </div>

    <include file="Public:scripts" />

    <script src="__PUBLIC__/js/question.min.js"></script>
</body>

</html>