<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="__PUBLIC__/js/flexible/flexible.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{$site_seo_title} {$site_name}</title>
    <meta name="keywords" content="{$site_seo_keywords}" />
    <meta name="description" content="{$site_seo_description}">
    <include file="Public:head" />
    <link href="__PUBLIC__/assets/css/video.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/1.5.7/skins/default/index.css" />
    <script type="text/javascript" src="//g.alicdn.com/de/prismplayer/1.5.7/prism-min.js"></script>
</head>

<body>
    <div class="container">
        <nav>
            <button class="left" onclick="history.back()"></button>
            <div class="title">视频</div>
            <button class="right"></button>
        </nav>
    </div>
    <div class="container">
        <div id="J_prismPlayer" class="prism-player"></div>
        <input id="video_link" type="hidden" value="{$video.video_link}" />
        <input id="video_thumb" type="hidden" value="/data/upload/{$smeta.thumb}" />
    </div>
    <div class="container">
        <div class="content">
            <div class="title">{$video.title}<button id="title_btn" class="btn up"></button></div>
            <div id="title_desc" class="desc">{$video.hospital}，{$video.doctor_name}，{$video.disease_name}</div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div id="test_btn" class="test_btn">
                <button class="disable"><img src="__PUBLIC__/assets/images/test_btn_disable.png" /></button>
                <button class="enable" style="display: none"><img src="__PUBLIC__/assets/images/test_btn.png" /></button>
            </div>
        </div>
    </div>

    <div class="container recommend">
        <div class="content">
            <div class="title">
                推荐列表
            </div>
            <div class="slide-box">
                <foreach name="recommend" item="vo">
                    <div class="slide-item <eq name='video.id' value='vo.id'>active</eq>">
                        <div class="img">
                            <a href="/index.php?g=Video&m=Index&a=video&id={$vo.id}">
                                <eq name="vo.smeta.thumb" value="">
                                    <img src="/public/images/no-image-box.png" />
                                    <else />
                                    <img src="/data/upload/{$vo.smeta.thumb}" />
                                </eq>
                            </a>
                            <eq name='video.id' value='vo.id'>播放中<else /><div class="tag">{$vo.video_time}</div></eq>
                        </div>
                        <div class="title"><a href="/index.php?g=Video&m=Index&a=video&id={$vo.id}">{$vo.title}</a></div>
                    </div>
                </foreach>
            </div>
        </div>
    </div>
    <div id="question-confirm" style="display: none">视频看完了，让医生了解一下您知识掌握的程度吧!</div>

    <include file="Public:scripts" />

    <input id="cu" type="hidden" value="{$cu}" />
    <script src="__PUBLIC__/js/video.min.js"></script>
</body>

</html>