<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="__PUBLIC__/js/flexible/flexible.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{$site_seo_title} {$site_name}</title>
    <meta name="keywords" content="{$site_seo_keywords}" />
    <meta name="description" content="{$site_seo_description}">
    <include file="Public:head" />
    <link href="__PUBLIC__/assets/css/video.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav>
            <button class="left"></button>
            <div class="title">视频</div>
            <button class="right"></button>
        </nav>
    </div>
    <div class="container">
        <div class="content filter">
            <div class="dropdown doctor">
                <select>
                    <foreach name="doctorList" item="vo">
                        <option>{$vo.doctor_name}</option>
                    </foreach>
                </select>
                <!--
                <button class="btn btn-default dropdown-toggle" type="button" id="doctor_filter" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="true">
                    按医生
                </button>
                <ul id="ddm1" class="dropdown-menu" aria-labelledby="doctor_filter">
                    <foreach name="doctorList" item="vo">
                        <li><a href="#">{$vo.doctor_name}</a></li>
                    </foreach>
                </ul>
                -->
            </div>
            &nbsp;&nbsp;
            <div class="dropdown disease">
                <button class="btn btn-default dropdown-toggle" type="button" id="disease_filter" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="true">
                    按疾病
                </button>
                <ul id="ddm2" class="dropdown-menu" aria-labelledby="disease_filter">
                    <foreach name="diseaseList" item="vo">
                        <li><a href="#">{$vo.disease}</a></li>
                    </foreach>
                </ul>
            </div>

            <button class="btn search_btn"></button>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <div class="list-box">
                <foreach name="video_list" item="vo">
                    <div class="list-item">
                        <div class="img">
                            <eq name="vo.smeta.thumb" value="">
                                <img src="/public/images/no-image-box.png" />
                            <else />
                                <img src="/data/upload/{$vo.smeta.thumb}" />
                            </eq>

                            <div class="tag">{$vo.video_time}</div>
                        </div>
                        <div class="title"><a href="#">{$vo.title}</a></div>
                        <div class="info">{$vo.hospital}，{$vo.doctor_name}，{$vo.disease_name}</div>
                    </div>
                </foreach>
            </div>
        </div>
    </div>

    <include file="Public:scripts" />

<script>
    $('#title_btn').on('click', function () {
        if($(this).hasClass('up')){
            $(this).removeClass('up');
            $(this).addClass('down');
            $('#title_desc').show('slow');
        } else if ($(this).hasClass('down')) {
            $(this).removeClass('down');
            $(this).addClass('up');
            $('#title_desc').hide('slow');
        }
    });
    $('#ddm1').find('li a').click(function () {
        var doctor_val = $(this).html();
        $('#doctor_filter').html(doctor_val);
    });
    $('#ddm2').find('li a').click(function () {
        var disease_val = $(this).html();
        $('#disease_filter').html(disease_val);
    });
</script>
</body>

</html>