<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="__PUBLIC__/js/flexible/flexible.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{$site_seo_title} {$site_name}</title>
    <meta name="keywords" content="{$site_seo_keywords}" />
    <meta name="description" content="{$site_seo_description}">
    <include file="Public:head" />
    <link href="__PUBLIC__/assets/css/video.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/1.5.7/skins/default/index.css" />
    <script type="text/javascript" src="//g.alicdn.com/de/prismplayer/1.5.7/prism-min.js"></script>
</head>

<body>
    <div class="container">
        <nav>
            <button class="left" onclick="history.back()"></button>
            <div class="title">视频</div>
            <button class="right"></button>
        </nav>
    </div>
    <div class="container">
        <div id="J_prismPlayer" class="prism-player"></div>
        <input id="video_id" type="hidden" value="{$video.id}" />
        <input id="video_link" type="hidden" value="{$video.video_link}" />
        <input id="video_thumb" type="hidden" value="/data/upload/{$smeta.thumb}" />
    </div>
    <div class="container">
        <div class="content">
            <div class="title">{$video.title}<button id="title_btn" class="btn up"></button></div>
            <div id="title_desc" class="desc">{$video.hospital}，{$video.doctor_name}，{$video.disease_name}</div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div id="test_btn" class="test_btn">
                <button class="disable"><img src="__PUBLIC__/assets/images/test_btn_disable.png" /></button>
                <button class="enable" style="display: none"><img src="__PUBLIC__/assets/images/test_btn.png" /></button>
            </div>
        </div>
    </div>

    <div class="container recommend">
        <div class="content">
            <div class="title">
                推荐列表
            </div>
            <div class="slide-box">
                <foreach name="recommend" item="vo">
                    <div class="slide-item <eq name='video.id' value='vo.id'>active</eq>">
                        <div class="img">
                            <a href="/index.php?g=Video&m=Index&a=video&id={$vo.id}">
                                <eq name="vo.smeta.thumb" value="">
                                    <img src="/public/images/no-image-box.png" />
                                    <else />
                                    <img src="/data/upload/{$vo.smeta.thumb}" />
                                </eq>
                            </a>
                            <eq name='video.id' value='vo.id'>播放中<else /><div class="tag">{$vo.video_time}</div></eq>
                        </div>
                        <div class="title"><a href="/index.php?g=Video&m=Index&a=video&id={$vo.id}">{$vo.title}</a></div>
                    </div>
                </foreach>
            </div>
        </div>
    </div>
    <div id="question-confirm" style="display: none">视频看完了，让医生了解一下您知识掌握的程度吧!</div>

    <include file="Public:scripts" />

    <input id="cu" type="hidden" value="{$cu}" />
    <div id="complete_info" style="display: none">
        <div class="title">视频为{$video.doctor_name}医生享有著作权，请完善资料才能进行观看</div>
        <form id="complete-form">
            <ul>
                <li><div class="left icon name">姓名</div><div class="right"><label for="real_name"></label><input id="real_name" name="real_name" type="text" maxlength="30" /></div></li>
                <li>
                    <div class="left icon sex">性别</div>
                    <div class="right-radio">
                        <span>女</span>
                        <input id="sex-female" name="sex" class="regular-radio" value="0" type="radio" checked="checked" />
                        <label for="sex-female"></label>
                        <span>&nbsp;&nbsp;</span>
                        <span>男</span>
                        <input id="sex-male" name="sex" class="regular-radio" value="1" type="radio" />
                        <label for="sex-male"></label>
                    </div>
                </li>
                <li><div class="left icon age">年龄</div><div class="right"><label for="age"></label><input id="age" name="age" type="number" /></div></li>
                <li><div class="left icon phone">手机</div><div class="right"><label for="phone"></label><input id="phone" name="phone" type="tel" /></div></li>
                <li>
                    <div class="left icon identity">身份</div>
                    <div class="right-radio">
                        <span>其他</span>
                        <input id="identity-other" name="identity" class="regular-radio" value="3" type="radio" checked="checked" />
                        <label for="identity-other"></label>
                        <span>&nbsp;</span>
                        <span>病患</span>
                        <input id="identity-patient" name="identity" class="regular-radio" value="2" type="radio" />
                        <label for="identity-patient"></label>
                        <span>&nbsp;</span>
                        <span>家属</span>
                        <input id="identity-family" name="identity" class="regular-radio" value="1" type="radio" />
                        <label for="identity-family"></label>
                    </div>
                </li>
            </ul>
            <div>
                <input type="checkbox" id="agreement" name="agreement" value="1" /><label for="agreement"></label><label for="agreement">我同意《<a href="/index.php?g=Video&m=Index&a=agreement">此款服务协议</a>》</label>
            </div>
        </form>
    </div>
    <script src="__PUBLIC__/js/video.min.js"></script>
</body>

</html>