@import 'common';

body {
    background-color: #f9f9f9;
}

nav {
    @include height(88);
    background-color: #393a3e;
}

nav .left {
    float: left;
    @include width(50);
    height: 100%;
    background-color: transparent;
    background-image: url('../images/top_left_btn.png');
    background-repeat: no-repeat;
    background-position: right center;
    @include background-size(20, 36);
    border: 0;
}

nav .title{
    @include width(550);
    @include height(88);
    @include line-height(88);
    float: left;
    text-align: center;
    @include font-size(32);
    color: white;
}

nav .right {
    float: right;
    @include width(38);
    height: 100%;
    background-color: transparent;
    background-image: url('../images/top_right_btn.png');
    background-repeat: no-repeat;
    background-position: left center;
    @include background-size(8, 36);
    border: 0;
}

.video {
    width: 100%;
}

.video img {
    width: 100%;
}

.container{
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.content{
    width: 100%;
    margin: 0 auto;
    @include padding(0, 30);
}
.content .title{
    @include height(84);
    @include line-height(84);

    @include font-size(32);
}

.content .desc{
    @include height(84);
    @include line-height(64);
    @include font-size(32);
    color: #666;
    display: none;
}

.content .title .btn{
    @include width(26);
    @include height(12);
    background-color: transparent;
    background-image: url('../images/slide_down_btn.png');
    background-repeat: no-repeat;
    @include background-size(26, 25);
    float: right;
    border: 0;
    @include margin-top(36);
    padding: 0;
}
.content .title .btn.up{
    @include background-position(0, -14);
}
.content .title .btn.down{
    @include background-position(0, 0);
}

.content.filter {
    @include height(105);
    @include padding(20, 30);
    @include font-size(24);
}


.content .filter-box{
    @include height(105);
    @include padding(20, 0);
    @include font-size(24);
}

.content .filter-box ul{
    margin: 0;
    padding: 0;
    @include width(485);
    @include height(45);
    @include line-height(45);
    background-color: #f9f9f9;
    border-color: #e8e8e8;
    border-style: solid;
    @include border-radius(5);
    @include border-width(1);
    text-align: center;
    text-align-last: center;
    @include font-size(24);
    float: left;
}

.content .filter-box ul li{
    float: left;
    @include font-size(24);
    @include height(45);
    @include line-height(45);
}

.content .filter-box ul li.btn{
    @include width(240);
    @include height(45);
}
.content .filter-box ul li.on{
    color: #43aae4;
}
.content .filter-box ul li.line{
    @include width(1);
    @include height(30);
    @include margin-top(9);
    border-color: #e8e8e8;
    border-style: solid;
    @include border-width(1);
}

.content .filter-box .search_btn{
    float: right;
    @include width(65);
    @include height(45);
    background-image: url('../images/search_btn.png');
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    @include background-position(20, 10);
    @include background-size(24, 24);
    border-color: #e8e8e8;
}

.drop-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    @include top(180);
    @include font-size(24);
    background-color: #fff;
    z-index: 100;
    @include border-top(1, solid, #e8e8e8);
    display: none;
}

.drop-menu li{
    @include height(88);
    @include line-height(88);
    @include font-size(24);
    @include border-bottom(1, solid, #e8e8e8);
}

.drop-menu li span{
    @include margin-left(30);
}

.test_btn{
    width: 100%;
    border-top: #e8e8e8 solid 0.015625rem;
}
.test_btn button{
    background-color: transparent;
    border: 0;
}
.test_btn img{
    width: 100%;
    @include margin(30, 0);
}

.recommend{
    @include margin-top(20);
}

.slide-box{
    display: -webkit-box;
    overflow-x: scroll;
}

.slide-item{
    @include width(210);
    @include height(210);
    @include margin-right(60);
}
.slide-item .title{
    @include font-size(24);
    @include line-height(32);
    @include margin-top(5);
}
.slide-item .title a{
    color: black;
}
.slide-item .img{
    @include width(210);
    @include height(118);
}
.slide-item .img .tag{
    @include width(60);
    @include height(28);
    @include line-height(20);
    @include margin-top(-28);
    position: relative;
    background-image: url('../images/title_bg.png');
    color: #f9f9f9;
    @include padding(5, 3);
    text-align: center;
    @include font-size(18);
}
.slide-item.active .tag{
    background-image: none;
    background-color: #43aae4;
}
.slide-item.active .title a{
    color: #43aae4;
}
.slide-item img{
    @include width(210);
}

.list-box{
    width: 100%;
}

.list-box .line{
    width: 100%;
    @include height(20);
    border-top-style: solid;
    border-top-width: 0.015625rem;
    border-top-color: #e8e8e8;
}

.list-item{
    width: 100%;
    @include height(140);
    @include margin-right(60);
}
.list-item a{
    display: block;
}
.list-item .title{
    @include font-size(24);
    @include width(350);
    @include height(80);
    @include line-height(32);
    @include margin-left(20);
    float: left;
}
.list-item .title a{
    color: #333;
}
.list-item .img{
    @include width(210);
    @include height(118);
    float: left;
}
.list-item .img img{
    @include width(210);
}
.list-item .img .tag{
    @include width(60);
    @include height(28);
    @include line-height(20);
    @include margin-top(-28);
    position: relative;
    background-image: url('../images/title_bg.png');
    color: #f9f9f9;
    @include padding(5, 3);
    text-align: center;
    @include font-size(18);
}
.list-item.active .tag{
    background-image: none;
    background-color: #43aae4;
}
.list-item.active .title a{
    color: #43aae4;
}
.list-item img{
    @include width(210);
}

.list-item .info{
    @include width(350);
    @include height(30);
    @include line-height(30);
    @include margin-left(20);
    color: #666;
    float: left;
}

/* Search box */
.search_box{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    @include top(88);
    @include padding(20, 0);
    z-index: 100;
}

.search_box .clear{
    width: 100%;
    height: 2px;
    clear: both;
}

.search_box .title{
    @include font-size(26);
    @include height(60);
    @include line-height(60);
    border-bottom: solid #e8e8e8;
    @include border-width(1);
}

.search_box .search_word{
    @include margin-top(10);
}

.search_box .search_word li{
    @include height(56);
    @include line-height(56);
    text-align: center;
    float: left;
    border: solid #e5e5e5;
    @include border-width(1);
    @include border-radius(6);
    @include padding(0, 15);
    @include margin-top(30);
    @include margin-right(30);
}

.search_box .search_word li a{
    display: block;
    color: #333;
}

.search_input{
    @include height(45);
    @include line-height(45);
    @include font-size(24);
}

.search_input .input{
    @include width(505);
    @include height(45);
    @include border-radius(5);
    @include border-width(1);
    border: solid #e8e8e8;
    float: left;
    background-image: url('../images/search_icon.png');
    @include background-position(20, 10);
    @include background-size(24, 24);
    background-repeat: no-repeat;
}

.search_input .full_input{
    width: 100%;
    @include height(45);
    @include border-radius(5);
    @include border-width(1);
    border: solid #e8e8e8;
    float: left;
    background-image: url('../images/search_icon.png');
    @include background-position(20, 10);
    @include background-size(24, 24);
    background-repeat: no-repeat;
}

.search_input input{
    @include width(445);
    @include height(44);
    @include line-height(44);
    @include font-size(24);
    @include margin-left(55);
    background-color: transparent;
    border: none;
    clear: left;
}

.search_input button{
    @include font-size(24);
    float: right;
    background-color: transparent;
    color: #43aae4;
    text-align: right;
    padding-right: 0;
}

/* JQuery UI */
.ui-widget-header{
    border-width: 0;
    background-color: transparent;
}

.ui-dialog .ui-dialog-titlebar-close{
    @include width(24);
    @include height(24);
    @include right(20);
    background-image: url('../images/dialog_close_btn.png');
    @include background-size(24, 24);
    background-repeat: no-repeat;
    border-width: 0;
    border: none;
}

.ui-dialog .ui-dialog-content{
    @include font-size(26);
}

.ui-dialog .ui-dialog-buttonpane{
    border-width: 0;
}
.ui-dialog .ui-dialog-buttonpane button{
    @include width(245);
    @include height(68);
    border-width: 0;
    @include border-radius(5);
    color: #fff;
    background-color: transparent;
    @include font-size(36);
}
.ui-dialog .ui-dialog-buttonpane button.open{
    background-color: #43aae4;
}
.ui-dialog .ui-dialog-buttonpane button.close{
    background-color: #cacaca;
}